<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CxLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <diagnostics performanceCounters="All" />
      <behaviors>
        <endpointBehaviors>
          <behavior name="AsyncStreaming">
            <dispatcherSynchronization asynchronousSendEnabled="true" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <bindings>
        <customBinding>
          <binding name="StreamingCapable" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:10:00">
            <mtomMessageEncoding />
            <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="524288000"
              transferMode="Streamed" />
          </binding>
        </customBinding>
        <netTcpBinding>
          <binding name="NetTcpBinding_IAppService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            transferMode="Streamed" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
            <security mode="None" />
          </binding>
          <binding name="NetTcpBinding_IFileService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            transferMode="Streamed" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
            <security mode="None" />
          </binding>
        </netTcpBinding>
        <wsHttpBinding>
          <binding name="WSHttpBinding_IAppService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            messageEncoding="Mtom">
            <security mode="None" />
          </binding>
          <binding name="CustomBinding_IFileService" messageEncoding="Mtom">
            <security mode="None" />
          </binding>
        </wsHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://cxappserver.camx.me:8082/FileService" behaviorConfiguration="AsyncStreaming"
                binding="customBinding" bindingConfiguration="StreamingCapable"
                contract="CXFileService.IFileService" name="BasicHttpBinding_IFileService" />
            <endpoint address="http://cxappserver.camx.me:8082/FileService" binding="wsHttpBinding"
                bindingConfiguration="CustomBinding_IFileService" contract="CXFileService.IFileService"
                name="CustomBinding_IFileService" />
            <endpoint address="net.tcp://cxappserver.camx.me:8092/FileService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFileService" contract="CXFileService.IFileService"
                name="NetTcpBinding_IFileService" />
            <endpoint address="http://cxappserver.camx.me:8081/AppService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAppService" contract="CXAppService.IAppService"
                name="WSHttpBinding_IAppService" />
            <endpoint address="net.tcp://cxappserver.camx.me:8091/AppService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAppService" contract="CXAppService.IAppService"
                name="NetTcpBinding_IAppService" />
        </client>
    </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="Listener" type="System.Diagnostics.TextWriterTraceListener" initializeData="loader.log" traceOutputOptions="None" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
    <userSettings>
        <CxLoader.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ForegroundPrimaryColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="ForegroundSecondaryColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="ForegroundPrimaryAlpha" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="ForegroundSecondaryAlpha" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackColor1" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="BackgroundPrimaryAlpha" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="BackgroundSecondaryAlpha" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="DidWarnTray" serializeAs="String">
                <value>False</value>
            </setting>
        </CxLoader.Properties.Settings>
    </userSettings>
</configuration>